@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif !important;
  outline-color: #86aac7;
}

body {
  scroll-behavior: smooth;
}

:root {
  /* --main-color: #026fc7; */
  --main-color: #714dff;
  --light_body_second_bg: #fafafa;
  --light-body_main-bg: #fbfbfb;
  --light-card_gray-bg: #f0f0f0;
  --light-card_strong-gray-bg: #d6d6d6;
  --lighr-black-text: #111111;
  --light-gray-text: #c2c2c2;
  --light-white-text: #f0f0f0;
}

.hidden_scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active_sidebar_link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -10px;
  height: 0;
  width: 5px;
  border-radius: 15px;
  background-color: var(--main-color);
  animation: indicatorSidebarLink 0.5s forwards;
}

@keyframes indicatorSidebarLink {
  from {
    height: 0;
  }
  to {
    height: 70%;
  }
}
